.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 100px;
  width: 100%;
}

@media screen and (min-width: 470px) {
  .blue,
  .aqua {
    width: 50%;
  }
}

@media screen and (min-width: 560px) {
  .coral,
  .teal,
  .lime {
    width: 33%;
  }
}

@media screen and (min-width: 710px) {
  .container {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
  }
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.aqua {
  background-color: aqua;
}

.coral {
  background-color: coral;
}

.teal {
  background-color: teal;
}

.lime {
  background-color: lime;
}
